[Unit]
Description=Restic backup ({{ item.name }})
After=network.target

[Service]
Type=oneshot
Environment=GOMAXPROCS=1
ExecStart=/usr/local/bin/restic-backup-wrapper.py {{ item.name }} {{ restic_conf_directory }} {{ restic_cache_directory }} {{ restic_binary }}
EnvironmentFile={{ restic_conf_directory }}/{{ item.name }}.env

[Install]
WantedBy=basic.target
