[Unit]
Description=Restic backup
After=network.target

[Service]
Type=oneshot
ExecStart={{ restic_binary }} backup \
    --exclude-caches \
    --exclude-file {{ restic_conf_directory }}/excludes \
    --cache-dir {{ restic_cache_directory }} \
    --files-from {{ restic_conf_directory }}/files
EnvironmentFile={{ restic_conf_directory }}/{{ item.name }}.env

[Install]
WantedBy=basic.target
