[Unit]
Description=Restic backup ({{ item.name }})
After=network.target

[Service]
Type=oneshot
Environment=GOMAXPROCS={{ item.gomaxprocs|default(1) }}
ExecStart=%h/.local/bin/restic-backup-wrapper.py {{ item.name }} %h/.config/restic-backup %h/.cache/restic {{ restic_binary }}
EnvironmentFile=%h/.config/restic-backup/{{ item.name }}.env
Nice=19

[Install]
WantedBy=basic.target
