[Unit]
Description=Restic backup ({{ item.name }})
After=network.target

[Service]
Type=oneshot
Environment=GOMAXPROCS={{ item.gomaxprocs|default(1) }}
ExecStart={{ restic_binary }} backup \
    --json \
    --exclude-caches \
    --exclude-file %h/.config/restic-backup/{{ item.name }}.excludes \
    --files-from %h/.config/restic-backup/{{ item.name }}.files
EnvironmentFile=%h/.config/restic-backup/{{ item.name }}.env
Nice=19

[Install]
WantedBy=basic.target
