[Unit]
Description=Restic backup ({{ item.name }})
After=network.target
OnFailure=restic-backup-notify@%n.service

[Service]
Type=oneshot
Environment=GOMAXPROCS={{ item.gomaxprocs|default(1) }}
{% if item.exec_start_pre is defined %}
ExecStartPre={{ item.exec_start_pre }}
{% endif %}
ExecStart=%h/.local/bin/restic-backup-wrapper.py {{ item.name }} %h/.config/restic-backup %h/.cache/restic {{ restic_binary }}
EnvironmentFile=%h/.config/restic-backup/{{ item.name }}.env
Nice=19
{% if item.exec_stop_post is defined %}
ExecStopPost={{ item.exec_stop_post }}
{% endif %}

[Install]
WantedBy=basic.target
